.header{
  background:#006d2c;
  width:100%;
  color: white;
  text-align: left;
  font-size: 35px;
  padding: 0px 20px 0px 20px;
}

button p{
  float: right;
  margin: 0;
  padding-left: 10px;
}

/* Place the navbar at the top of the page, and make it stick */
.navbar1 {
  background-color: #006d2c;
  bottom: 0;
  width: 100%;
  font-size: 0;
}

@media(max-width:50em){ /* Breakpoint only for mobile */
  .navbar1 {
      color: #186c3f;
      overflow: hidden;
      height: 60px;
      width: 100%;
      bottom: 0;
      position: fixed;
      z-index: 5;
    }
  button p{
      visibility: hidden;
      display:none;
  }
  .navbar1 button {
      background-color: #006d2c;
      display: block;
      color: #f2f2f2;
      border: solid #f2f2f2 1px;
      width: 20%;
      text-align: center;
      float: left;
      margin-top: -5px;
    }
  .navbar1 button.active {
      background-color:  #00441b;
      color: white;
    }
    /*Tambopata title  */
  .navbar1 span{
    display: none;
  }
  /* UW logo */
  .navbar1 a{
    display:none;
  }
  .overlay {
    visibility: hidden;
    display:none;
   }
}

/* Style the links inside the navigation bar */
.navbar1 button {
  background-color: #006d2c;
  border-style: none;
  display:inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 15px 20px 15px;
  text-decoration: none;
  font-size: 20px;
}

.navbar1 a{
  float: right;
  padding: 5px 20px 0px 0px;
}

/* Change the color of links on hover */
.navbar1 button:hover {
  background-color: #00441b;
}

/* Add a color to the active/current link */
.navbar1 button.active {
  background-color:  #00441b;
  color: white;
}
.arimo{
    font-family: 'Arimo';
}

.container {
    width: 80%;
    text-align: justify;
    padding: 1% 10% 1% 10%;
}

#overlay-img {
  z-index: 2;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../img/river.png');
  background-size: cover;
  background-position: center;
  opacity: 0.80;
  animation: anim .75s ;
}

@-webkit-keyframes anim {
    from {opacity: 0;}
    to {opacity: .80;}
  }

@keyframes anim {
    from {opacity: 0;}
    to {opacity: .80;}
  }

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

#overlay-div {
  position: auto;
  width: 50%;
  height: 75%;
  background: #E9ECEF;
  transform: translate(50%,20%);
  -ms-transform: translate(50%,50%);
  overflow-y: auto;
  opacity: 1;
  font-family: "Arimo";
}

#navbar2 {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0px;
	font-size: 0px;
	background-color: #006d2c;
	padding-left: 3px;
}

#navbar2 button {
	margin-top: 2px;
	margin-bottom: 2px;
	text-decoration: none;
	border-style: none;
	margin-left: 0px;
	font-size: 18px;
}

#navbar2 button:hover {
  /* background-color: white; */
	background-color: #00441b;
  /* color: black; */
	color: white;
}

#tambopata-button {
	background-color: #00441b;
	color: white;
}

#assign-button,#glossary-button,#events-button {
	background-color: #006d2c;
	color: white;
}

#overlay-buttons-close {
	float: right;
	padding-left: 5px;
	background-color: #006d2c;
}

#assign-overlay-text {
  display: none;
  position: auto;
  top: 50%;
  left: 10%;
  font-size: 16px;
  color: black;
  padding: 10px;
}

#assign-overlay-text h2 {
	text-align: center;
}

#tambopata-overlay-text {
  top: 50%;
  left: 10%;
  font-size: 16px;
  color: black;
  padding: 10px;
}

#tambopata-overlay-text h2 {
	text-align: center;
}

#locator {
	height: 5%;
	width: 85%;
	float: left;
	margin-left: 7.5%
}

#glossary-overlay-text {
  display: none;
  position: auto;
  top: 50%;
  left: 10%;
  font-size: 16px;
  color: black;
  padding: 10px;
}

#glossary-overlay-text h2 {
	text-align: center;
}

#glossTerm {
	font-size: 18px;
}

#events-overlay-text {
  display: none;
  position: auto;
  top: 50%;
  left: 10%;
  font-size: 16px;
  color: black;
  padding: 10px;
}

#events-overlay-text h2 {
	text-align: center;
}

/* Trying to get something like this example for the start of the page with the div containing class="slide1" */
/* https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_background_hero */
.masthead{
    background-image: url("../img/ciforRiverboats.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
}
.masthead h1{
    color: #e5f5f9;
    font-size: 3em;
}
.img-bground {
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
}

/* .slide1 {
    background-image: url("../img/ciforRiverboats.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; */
    /* position: relative; */



/* .slide1text{
    width: 75%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e5f5f9;
}
.slide1text h1 {
    font-size: 4em;
}
.slide1text ul {
    text-align: left;
    transform: translate(10%, 0);
} */

.image-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* #basic-desc {
  background-color: #e5f5f9;
} */

h1, h2, h3 {
    text-align: center;
}

.caption {
    font-size: .8em;
    text-align: center;
    word-wrap: break-word;
    font-style: italic;
}

.parallax-window {
    min-height: 600px;
    background: transparent;
}

.bigText {
    font-size: 20px;
}

#slider {
	height: 100%;
}

/* Image Swipes */
.ba-slider {
    position: absolute;
    overflow: hidden;
	width: 50%;
	height: 80%;
	left: 0;
	right: 0;
	margin-left:25%;
	display: block;
	margin-bottom: 300px;
}
.ba-slider img {
    width: 100%;
	height: 100%;

	overflow: hidden;
}

.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
	width: 50%;
    overflow: hidden;
}@media(max-width:50em){
	.ba-slider {
		position: absolute;
		overflow: hidden;
		width: 80%;
		height: 50%;
		margin-left: 10%;
	}
	.ba-slider img {
		width: 100%;
		height: 100%;

	overflow: hidden;
	}

	.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
	width: 50%;
    overflow: hidden;
	}

}

.handle { /* Thin line seperator */
  position:absolute;
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;
  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}

#before {
	margin-left: -67px;
	margin-top: 10px;
	border-radius: 25px;
	background: black;
	opacity: .60;
	width: 60px;
	height: 35px;
	text-align: center;
	padding-top: 7px;
	color: white;
}

#after {
	margin-left: 12px;
	margin-top: -35px;
	border-radius: 25px;
	background: black;
	opacity: .60;
	width: 60px;
	height: 35px;
	text-align: center;
	padding-top: 7px;
	color: white;
}

.handle:after {  /* Big green knob  */
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;

	/* Black arrow in the center  */
    content:'\21d4';
    color:black;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:64px;
    background: #006d2c; /* base green */
    border:1px solid #006d2c; /* ideally make a darker green*/
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
      0 2px 6px rgba(0,0,0,.3),
      inset 0 2px 0 rgba(255,255,255,.5),
      inset 0 60px 50px -30px #006d2c; /* make this a lighter green */
}

.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:30px;
}

/* Scoll to top button */
#scrollBtn {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #006d2c; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 14px; /* Increase font size */
}
/* may want to get rid of, will not work on mobile */
#scrollBtn:hover {
  background-color: #00441b; /* Add a dark-green background on hover */
}
/* fade in scroll to top button */
#scrollBtn {
  visibility: visible;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 2;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 2;}
}
/* scroll button for mobile*/
@media(max-width:50em){ /* Breakpoint only for mobile */
  #scrollBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 80px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #006d2c; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 12px; /* Increase font size */
  }
  /* fade in scroll to top button */
  #scrollBtn {
    visibility: visible;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
  }
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 2;}
  }
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 2;}
  }
}
