body, html {
    height: 100%;
    font-family: 'Macondo Swash Caps', cursive;
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.map {
    float: left;
    width: 75%;
    height: 80%;
	border: medium solid #999;
}
.panel {
    width: 15%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
} 
.panel {
    background-color: rgba(128,128,128,.2);
    border: medium solid #999;
    float: top;
    margin: 10px 20px 0 0;
}

.panel {
    float: top, right;
    margin: 7px 20px 0 0;
}

.panelBackground {
    fill: rgba(128,128,128,.2);
}

.panelFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}