.backdrop
		{
			position:absolute;
			top:0px;
			left:0px;
			width:100%;
			
			background:#000;
			opacity: 1.0;
			/*filter:alpha(opacity=0);*/
			z-index:50;
			display:none;
		}
 
 
.box
		{
			position:absolute;
			top:70%;
			/*left:30%;*/
			width:900px;
			/*height:600px;*/
			background:#bababa;
			z-index:51;
			padding:10px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-moz-box-shadow:0px 0px 5px #444444;
			-webkit-box-shadow:0px 0px 5px #444444;
			box-shadow:0px 0px 5px #444444;
			display:none;
		}
 
.close
		{
			float:right;
			margin-right:6px;
			cursor:pointer;
		}
 