body {
	padding: 0;
	margin: 0;
	font: 100% Helvetica, sans-serif;
}
html,body,#map {
	height: 100%;
	width: 100%;
}

#map {
	z-index: 1;
}

.ui {
	z-index: 2000;
	position: fixed;
	color: white;
	background-color: #C41E3A;
	padding: 5px;
}

ul {
	list-style-type: none;
	position: fixed;
	top: 0px;
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	text-align: center;
}
li {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	margin: 5 5 0 0;
}
a {
	margin-left: 5px;
	margin-right: 5px;
	color: white;
	font-size: 18px;
}
a:link {
	text-decoration: none;
}
li:hover {
	background-color: #BEBEBE;
}
a:visited {
	text-decoration: none;
}
a img {
	width: 15px;
	height: 15px;
}

#example-name {
	top: 30px;
	left: 10px;
}
#example-desc {
	top: 80px;
	left: 25px;
}

#pan-up {
	top: 45px;
	left: 50%;
}
#pan-down {
	bottom: 45px;
	left: 50%;
}
#left {
	top: 50%;
	left: 45px;
}
#right {
	top: 52%;
	right: 45px;
}

#minimap {
	height: 150px;
	width: 150px;
	position: absolute;
	z-index: 1000;
	border: solid 1px black;
	right: 0;
	top: 31px;
	display: none;
}

.leaflet-control-zoom {
	position: fixed;
	top: 17px;
}

.leaflet-control-layers {
	position: fixed;
	top: 30px;
}

.widget-control-container {
	position: absolute;

	top: 200px;
	right: 10px;
	cursor: pointer;
}
#widget-sidebar {
	position: relative;

	left: -180px;
	top: -21px;

	padding-top: 10px;
	padding-left: 10px;
	
	height: 75px;
	width: 170px;
	
	background-color: white;
}

input[type=range][orient=vertical]
{
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 225px;
	padding: 0 5px;
	margin-bottom: 40px;
}
#horizontal
{
    width: 225px;
    height: 8px;
    padding: 0 5px;
}

#up {
	position: relative;
	float: right;
	top: -25px;
	right: 47px;
}
#down {
	position: relative;
	float: bottom;
	top: 25px;
	right: 20px;
}
#forward {
	float: right;
}
#reverse {
	float: left;
}