@charset "UTF-8";

body {
	color: #7879A0;
	font-family: Tahoma, "Myriad Pro", Arial, Helvetica, sans-serif;
	background-color: #f8f8f9;

}
#content {
	background-color: #f8f8f9;
	padding: 20px;
	border-bottom-style: solid;
	border-bottom-color: #393839;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-color: #393839;
	border-top-width:1px;
}

#content img .place-holder{
	margin-left: 100px;
}	

#index-intro{
	border-top-style: solid;
	border-top-color: #7879A0;
	border-top-width:1px;
	width: 960 px;
}

#wrapper {
	width: 967px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-color: #f8f8f9
}

#portfolio-content{
	margin: auto;
}

header{
	color: #ff530d;
	height: 100px;
	width: 850px;
	background-color: #f8f8f9;	
	text-decoration: none;
}

header hgroup{
	width: 300px;
	text-decoration: none;
	line-height: 0em;
	padding-top: 10px;
	float: left;
}
header nav{
	width: 297px;
	float: right;

}

header nav ul{
	width: 450px;
	position:relative;
	left:0px;

	/*top: 45px;*/
}

nav ul li a.current{
	border-radius: 5px;
	color: #f8f8f9; 
	background-color: #7879A0; 
	padding: 0 8px;
}
nav ul li a:hover{
	background-color: #fff;

}
nav ul li a.current:hover{
	background-color: #7879A0;
	cursor: default;
}

header hgroup h1 a{
	color: #f15f49;
	text-decoration: none;
	font-variant:small-caps;
	font-size:40px;
	font-weight: 500;
	/*text-transform:uppercase;*/
}


footer{
	color: #ff530d;
	background-color: #f8f8f9;
	/*text-align: center;*/
}
h5{
	color: #7879A0;
}

#steve{
	text-decoration: none;
	line-height: 0em;
	padding-top: 80px;
	font-variant: small-caps;
	
}

#gis{
	line-height: 2em;
}

#about{
	padding-top: 60px;
	line-height: 1.5em;
}


/*#portfolio-snapshots p {
	display: inline;
	width: 178px;
}*/

.float{
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	float: left;
	text-align: center;
	font-size:x-small;
	width: 178px;
}

/*.float a{
	border-style: solid;
	border-color:#7879A0;
	border-width:1px;
}*/

.floatlast{
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	float: left;
	text-align: center;
	font-size:x-small;
	display: inline;
	width: 178px;
}
#portfolio-snapshots{
	width: 800px;
	padding-left: 12.2%;
	padding-right: 10%;
	font-size: x-small;
	margin: 0 auto 700px auto;

}
.float p{
	width: 178px;
	line-height:1em;
}

.img-portfolio-pic{
	float:left;
	padding: 0 50px 20px 0;
	caption-side:bottom;
}

/*.img-float-left{

	padding: 10px 50px 0px 0;
}

.img-float-right{
	padding: 10px 0px 0px 50px;
}*/

/*p{
	line-height: 1.5em;
}*/

/*#content .place-holder{
	position: relative;
	left: 50px;
}*/

#content .map{
	position: relative;
	left: -20px;
	right: auto;
	border: 1 px;
	border-color: #fff;
	border-style: solid;
}

#content .graphic{
	position: relative;
	left: -20px;
	right: auto;
	border: 1 px;
	border-color: #f8f8f9;
	border-style: solid;
}

#content .infographic{
	position: relative;
	right: 20px;
}

p.normal{
	font-size: 16px;
	line-height: 1.2em;
	text-align: block;

	/*text-transform: uppercase;*/
	font-weight: 575;
}

p.normal a{
	text-decoration: none;
	color:#ff530d;
}

p.heading{
	font-size: 25px;
	line-height: 1.2em;
	text-align: block;
	color: #f15f49; 
	/*text-transform: uppercase;*/
	font-weight: 575;
}

p.small{
	font-size: 25px;
	font-variant:small-caps;
	font-weight: 600;
	line-height: 0em;
	
}

nav{
	margin: 20px 0 0 20px;
}

nav ul {
	list-style-type: none;
	margin-left: 0;
}

nav ul li{
	display: inline;
	padding: 0 8px;

}

nav ul li a{
	text-decoration: none;
	color: #7879A0;
	padding: 0 8px;
	border-radius: 5px;
}

nav ul li a.resumes{
	color:#2b3a42;
	padding: 0 0;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
}
footer ul{
	list-style-type:none;
	margin-left: 7px;
}
footer ul li{
	margin-left: 95px;
	display: inline;
}
footer ul li a{
	color: #7879A0;
	text-decoration: none;

	margin-right: 0;
	padding: 0 0 0 0;
	padding-left: 0%;
	padding-right: 0;
}
footer ul li a:hover{
	background-color: #f8f8f9;
}
/*nav ul li a:active{
	background-color: #020202;
	color: white;

}*/
	


