#container{
	width: 90%;
	margin: 0 auto;
}

.item {
  width: 330px;
  margin: 5px;
  float: right;
}

.box{
  width: 340px;
  margin: 5px;
  float: center;
  /*background-color:#DDD;*/
  
  background: #DDD url(../img/ricepaper.png) repeat-y 50% 0;
  color:#CBA;
  
  	-moz-border-radius:5px 5px 5px 5px;

	-webkit-border-radius:5px 5px 5px 5px;

	border-radius:5px 5px 5px 5px;
}