body {
	background-color: #FAFAFA;
	/*font-family: Georgia, Helvetica,Verdana, Arial,sans-serif;*/
	font-family: 'Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif,'Monotype Corsiva';
	color: #333;
	background: #FAFAFA url(../img/soft_circle_scales.png) ;
}
h1 {
	font-size: 1.6em;
	margin: 5px;
}
h2 {
	font-size: 1.3em;
	font-variant:small-caps;
	color: grey;
	padding: 4px;
	margin: 0;	
}
h1:hover  {
	font-size: 1.6em;
	color: #aaaaaa;
	cursor: pointer;
}
h2:hover {
	font-size: 1.3em;
	font-variant:small-caps;
	color: #bbbbbb;
	padding: 4px 5px;
	margin: 0;
	cursor: pointer;
}
p {
	font-size: 1em;
	background-color: white;
	color: #555555;
	padding: 2px;
	margin: 2px 2px 2px 2px;
	width: 330px;
	text-align: justify;	
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}
button {
	font-size: 1.3em;
	color: grey;
	padding: 0;
	margin: 0;
	border: 0px;
	background:#DDD;
}
#p_p {
	font-size: 1em;
	background-color: white;
	color: #333333;
	padding: 0;
	margin: 2px 0 3px;
	text-align: justify;
}
#title {
	text-align:center;
	padding:30px;
	width: 85%;
	margin: 0 auto;
	/*background: #DDD url(../img/ricepaper.png) ;*/
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}
#tt {
	font-size: 2em;
	text-align:center;
	padding:10px;
	width: 30%;
	border-top-style:solid;
	border-right-style:none;
	border-bottom-style:solid;
	border-left-style:none;
	margin-left: auto;
    margin-right: auto;
}
#wrapper {
position:relative;
	width: 90%;
	height:890px;
	margin: 0 auto;
	margin-top:50px;
	margin-bottom:20px;
	background: #DDD url(../img/ricepaper.png) ;
	-moz-border-radius:10px 10px 0px 0px;
	-webkit-border-radius:10px 10px 0px 0px;
	-khtml-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}
#mapc {
	width: 95%;
	height: 95%;
	border: 1px solid grey;
	margin-left: auto;
    margin-right: auto;
}
#footer {
	width: 50%;
	margin: 0 auto;
	text-align:center;
	padding:20px;
}
#stamp {
	position:relative;
	width:50px;
	top: -120px;
	left:40px;
	margin-right: 90px;
	padding:5px;
	background-color: rgba(220,220,210,0.6);
	border: 5px solid #BF242A;
	-moz-border-radius:20px ;
	-webkit-border-radius:20px;
	-khtml-border-radius: 20px;
    border-radius: 20px;
}
#stamp:hover {
	background-color: white;
	cursor: pointer;
}
#gz_t {
	color:#BF242A;
	width:100%;
	text-align:center;
}
#legend {
	padding: 3px 5px;
	width: 200px;
	background-color: rgba(220,220,210,0.5);
	position:relative;
	/*top: -490px;
	bottom:500px;*/
	margin-top:-500px;
	color: white;
	float:right;
	margin-right: 40px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;	
}
#legend:hover {
	padding: 3px 5px;
	width: 200px;
	background-color: white;
	color: #121212;
}
#legend h3 {
	margin: 5px 15px;
	line-height: 1em;
}	
#legend h5 {
	margin: 10px 0px;
	line-height: 1em;
}
#legend ul {
	list-style-type: none;
	padding-left: 15px;	
}
#legend li {
	margin: 3px 0 8px;
	font-size: 0.9em;
}
#legend img {
	margin:0 8px -4px 0;
}
.tradition {
	color: #BF242A;
}
.foreign {
	color: #1685A9;
}
.mixed {
	color: #16A951;
}
.tradition img,.foreign img, .mixed img {
	margin-right: 8px;
}
#crc {
	margin: 0 0 0 0;
	font-size:1.5em;
	margin-left: auto;
    margin-right: auto;
	height:35px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	text-align:center;
	background: #CBA;/*#A98175;*/
	border:1px solid #9A9A9A;
}
#crc2{
	margin-left: auto;
    margin-right: auto;
	height:35px;
	width:96%;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	color:white;
	background: #DDD url(../img/ricepaper3.png) ;
}