
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: black;
	color:white;
	font-size:18px;
	height:50px;
	width:220px;
	text-align:center;
	vertical-align:center;
	border-left:2px solid red;
	border-right:2px solid red;
	border-top:2px solid red;
	border-bottom:2px solid red;
}

html {
	width: 100%;
	height: 98%
}


body {
	width: 100%;
	height: 100%;
	background:#f4f0e7;
}

#map {
	height: 100%;
	width: 78%;
	float: right;
	border: -2px solid #f4f0e7;
    	box-shadow: -1px -1px 6px maroon;
	border-radius:1px;
	z-index: 20;
}

#menu {
	position: absolute;
	width: 21%;
	height: 98%;
	border-left:5px solid #f4f0e7;
	border-right:5px solid #f4f0e7;
	display: inline-block;
	vertical-align:top;
	text-align:justify;
    box-shadow: -1px -1px 6px maroon;
	border-radius:0px;
	z-index: 20;
	background:#f4f0e7;
}
h4{
	text-align:center;
	font-weight:bold;
	font-size:16px;
	color:black;
}
p1{
	font-size:12px;
	font-family:comic sans MS;
	color:black;
	font-family:calibri;
	
}
p2{
	font-size:13px;
	font-weight:bold;
	color:blue;
	font-family:calibri;
}
.leaflet-interactive{
	fill:#108349;
	stroke-width:1px;
	stroke:blue;
}
p5{
	font-size:12px;
	font-family:calibri;
	font-style:italic;
}


.leaflet-panel-layers-list{
	border-left:3px solid #f4f0e7;
	border-right:3px solid #f4f0e7;
	border-top:3px solid #f4f0e7;
	border-bottom:3px solid #f4f0e7;
	z-index: 20;
	background:#bfb4a0;
	width:170px;
}

