/*body {
    background: url('worldbase4.png') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 0 auto;
    margin-bottom: 10px;
}*/

#wrapper {
	margin: 0 auto;
	width: 1200px;
}

#content {
	width: 100%;
	background-color: white; 
	margin-bottom: 0 auto;
	margin-top: 0 auto;
}

#map {
	/*z-index: -1;*/
}


#credits {
	font-family: verdana;
	color: gray;
	font-size: 7pt;
	text-align: right;
}

#usa {
	background-color: #000;
	opacity: 0;
	position: absolute;
	top: 175px;
	left: 270px;
	/*z-index: 1;*/
	height: 50px;
	width: 120px;
}

#canada {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 85px;
	left: 230px;
	/*z-index: 1;*/
	height: 80px;
	width: 190px;
}

#greenland {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 60px;
	left: 450px;
	/*z-index: 1;*/
	height: 70px;
	width: 120px;
}

#mexico {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 225px;
	left: 300px;
	/*z-index: 1;*/
	height: 40px;
	width: 40px;
}

#cuba {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 245px;
	left: 390px;
	/*z-index: 1;*/
	height: 10px;
	width: 30px;
}

#bahamas {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 235px;
	left: 410px;
	/*z-index: 1;*/
	height: 17px;
	width: 20px;
}

#dominicanr {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 255px;
	left: 428px;
	/*z-index: 1;*/
	height: 8px;
	width: 10px;
}

#haiti {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 255px;
	left: 420px;
	/*z-index: 1;*/
	height: 8px;
	width: 8px;
}

#jamaica {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 258px;
	left: 405px;
	/*z-index: 1;*/
	height: 5px;
	width: 7px;
}



#belize {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 258px;
	left: 370px;
	/*z-index: 1;*/
	height: 10px;
	width: 8px;
}

#guatemala {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 260px;
	left: 362px;
	/*z-index: 1;*/
	height: 12px;
	width: 8px;
}


#honduras {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 266px;
	left: 376px;
	/*z-index: 1;*/
	height: 8px;
	width: 12px;
}

#elsalvador {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 270px;
	left: 370px;
	/*z-index: 1;*/
	height: 8px;
	width: 6px;
}

#nicaragua {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 272px;
	left: 378px;
	/*z-index: 1;*/
	height: 8px;
	width: 10px;
}

#costarica {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 280px;
	left: 383px;
	/*z-index: 1;*/
	height: 12px;
	width: 10px;
}

#panama {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 284px;
	left: 394px;
	/*z-index: 1;*/
	height: 8px;
	width: 15px;
}


#colombia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 290px;
	left: 408px;
	/*z-index: 1;*/
	height: 25px;
	width: 28px;
}

#venezuela {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 285px;
	left: 436px;
	/*z-index: 1;*/
	height: 20px;
	width: 23px;
}

#guyana {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 287px;
	left: 460px;
	/*z-index: 1;*/
	height: 23px;
	width: 10px;
}


#suriname {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 294px;
	left: 471px;
	/*z-index: 1;*/
	height: 12px;
	width: 10px;
}


#fguiana {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 296px;
	left: 481px;
	/*z-index: 1;*/
	height: 10px;
	width: 10px;
}

#ecuador {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 313px;
	left: 397px;
	/*z-index: 1;*/
	height: 15px;
	width: 15px;
}


#brazil {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 313px;
	left: 470px;
	/*z-index: 1;*/
	height: 70px;
	width: 70px;
}

#peru {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 330px;
	left: 400px;
	/*z-index: 1;*/
	height: 40px;
	width: 25px;
}

#bolivia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 350px;
	left: 435px;
	/*z-index: 1;*/
	height: 30px;
	width: 25px;
}

#paraguay {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 375px;
	left: 461px;
	/*z-index: 1;*/
	height: 15px;
	width: 25px;
}


#chile {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 375px;
	left: 420px;
	/*z-index: 1;*/
	height: 100px;
	width: 8px;
}

#argentina {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 385px;
	left: 440px;
	/*z-index: 1;*/
	height: 50px;
	width: 20px;
}

#uruguay {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 410px;
	left: 470px;
	/*z-index: 1;*/
	height: 15px;
	width: 15px;
}

#iceland {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 115px;
	left: 575px;
	/*z-index: 1;*/
	height: 10px;
	width: 30px;
}

#ireland {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 149px;
	left: 619px;
	/*z-index: 1;*/
	height: 10px;
	width: 10px;
}

#uk {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 140px;
	left: 635px;
	/*z-index: 1;*/
	height: 20px;
	width: 10px;
}

#norway {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 120px;
	left: 670px;
	/*z-index: 1;*/
	height: 20px;
	width: 15px;
}

#sweden {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 120px;
	left: 690px;
	/*z-index: 1;*/
	height: 20px;
	width: 17px;
}


#finland {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 110px;
	left: 720px;
	/*z-index: 1;*/
	height: 20px;
	width: 17px;
}


#russia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 100px;
	left: 745px;
	/*z-index: 1;*/
	height: 50px;
	width: 430px;
}


#portugal {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 183px;
	left: 619px;
	/*z-index: 1;*/
	height: 20px;
	width: 10px;
}

#spain {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 183px;
	left: 630px;
	/*z-index: 1;*/
	height: 20px;
	width: 25px;
}


#france {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 166px;
	left: 648px;
	/*z-index: 1;*/
	height: 16px;
	width: 20px;
}

#netherlands {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 153px;
	left: 666px;
	/*z-index: 1;*/
	height: 5px;
	width: 7px;
}

#belgium {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 158px;
	left: 660px;
	/*z-index: 1;*/
	height: 7px;
	width: 7px;
}

#luxem {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 160px;
	left: 667px;
	/*z-index: 1;*/
	height: 5px;
	width: 5px;
}


#denmark {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 143px;
	left: 676px;
	/*z-index: 1;*/
	height: 10px;
	width: 10px;
}

#germany {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 154px;
	left: 673px;
	/*z-index: 1;*/
	height: 15px;
	width: 15px;
}

#poland {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 150px;
	left: 702px;
	/*z-index: 1;*/
	height: 12px;
	width: 17px;
}


#czech {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 160px;
	left: 693px;
	/*z-index: 1;*/
	height: 7px;
	width: 10px;
}

#hungary {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 168px;
	left: 704px;
	/*z-index: 1;*/
	height: 7px;
	width: 10px;
}

#estonia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 133px;
	left: 728px;
	/*z-index: 1;*/
	height: 7px;
	width: 7px;
}

#latvia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 140px;
	left: 726px;
	/*z-index: 1;*/
	height: 6px;
	width: 7px;
}


#lithuania {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 146px;
	left: 722px;
	/*z-index: 1;*/
	height: 7px;
	width: 9px;
}


#belarus {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 147px;
	left: 733px;
	/*z-index: 1;*/
	height: 11px;
	width: 9px;
}


#ukraine {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 160px;
	left: 728px;
	/*z-index: 1;*/
	height: 8px;
	width: 30px;
}


#turkey {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 192px;
	left: 736px;
	/*z-index: 1;*/
	height: 9px;
	width: 45px;
}


#switz {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 170px;
	left: 671px;
	/*z-index: 1;*/
	height: 5px;
	width: 7px;
}



#austria {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 169px;
	left: 691px;
	/*z-index: 1;*/
	height: 4px;
	width: 9px;
}


#italy {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 176px;
	left: 677px;
	/*z-index: 1;*/
	height: 20px;
	width: 15px;
}



#slovakia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 165px;
	left: 705px;
	/*z-index: 1;*/
	height: 4px;
	width: 12px;
}


#romania {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 172px;
	left: 719px;
	/*z-index: 1;*/
	height: 8px;
	width: 17px;
}


#moldova {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 168px;
	left: 738px;
	/*z-index: 1;*/
	height: 8px;
	width: 5px;
}



#slovenia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 173px;
	left: 694px;
	/*z-index: 1;*/
	height: 4px;
	width: 4px;
}


#croatia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 177px;
	left: 694px;
	/*z-index: 1;*/
	height: 4px;
	width: 10px;
}

#bosnia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 180px;
	left: 702px;
	/*z-index: 1;*/
	height: 4px;
	width: 6px;
}


#montenegro {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 185px;
	left: 705px;
	/*z-index: 1;*/
	height: 4px;
	width: 6px;
}


#albania {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 189px;
	left: 708px;
	/*z-index: 1;*/
	height: 6px;
	width: 6px;
}


#greece {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 193px;
	left: 714px;
	/*z-index: 1;*/
	height: 10px;
	width: 7px;
}

#serbia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 178px;
	left: 714px;
	/*z-index: 1;*/
	height: 9px;
	width: 7px;
}


#macedonia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 188px;
	left: 714px;
	/*z-index: 1;*/
	height: 4px;
	width: 4px;
}


#bulgaria {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 183px;
	left: 722px;
	/*z-index: 1;*/
	height: 5px;
	width: 12px;
}

#morocco {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 207px;
	left: 622px;
	/*z-index: 1;*/
	height: 15px;
	width: 15px;
}


#algeria {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 207px;
	left: 649px;
	/*z-index: 1;*/
	height: 40px;
	width: 25px;
}


#tunisia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 203px;
	left: 673px;
	/*z-index: 1;*/
	height: 20px;
	width: 15px;
}


#egypt {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 222px;
	left: 730px;
	/*z-index: 1;*/
	height: 25px;
	width: 20px;
}



#libya {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 222px;
	left: 688px;
	/*z-index: 1;*/
	height: 20px;
	width: 40px;
}


#sahara {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 230px;
	left: 600px;
	/*z-index: 1;*/
	height: 20px;
	width: 15px;
}

#mauritania {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 245px;
	left: 610px;
	/*z-index: 1;*/
	height: 20px;
	width: 20px;
}


#mali {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 245px;
	left: 632px;
	/*z-index: 1;*/
	height: 20px;
	width: 20px;
}

#niger {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 250px;
	left: 670px;
	/*z-index: 1;*/
	height: 20px;
	width: 20px;
}

#chad {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 252px;
	left: 700px;
	/*z-index: 1;*/
	height: 30px;
	width: 20px;
}


#sudan {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 252px;
	left: 728px;
	/*z-index: 1;*/
	height: 40px;
	width: 30px;
}


#eritrea {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 262px;
	left: 765px;
	/*z-index: 1;*/
	height: 10px;
	width: 10px;
}


#eritrea {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 262px;
	left: 765px;
	/*z-index: 1;*/
	height: 10px;
	width: 10px;
}


#ethiopia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 275px;
	left: 760px;
	/*z-index: 1;*/
	height: 20px;
	width: 20px;
}


#djibouti {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 275px;
	left: 781px;
	/*z-index: 1;*/
	height: 5px;
	width: 5px;}



#somalia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 283px;
	left: 783px;
	/*z-index: 1;*/
	height: 8px;
	width: 25px;
}


#senegal {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 265px;
	left: 597px;
	/*z-index: 1;*/
	height: 10px;
	width: 10px;
}


#gambia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 275px;
	left: 597px;
	/*z-index: 1;*/
	height: 3px;
	width: 10px;
}


#guineab {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 278px;
	left: 600px;
	/*z-index: 1;*/
	height: 4px;
	width: 7px;
}


#guinea {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 278px;
	left: 607px;
	/*z-index: 1;*/
	height: 6px;
	width: 15px;
}


#sierra {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 284px;
	left: 608px;
	/*z-index: 1;*/
	height: 8px;
	width: 7px;
}


#liberia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 293px;
	left: 616px;
	/*z-index: 1;*/
	height: 8px;
	width: 7px;
}



#australia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 360px;
	left: 1015px;
	/*z-index: 1;*/
	height: 60px;
	width: 100px;
}

#china {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 190px;
	left: 920px;
	/*z-index: 1;*/
	height: 40px;
	width: 100px;
}


#indonesia {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 315px;
	left: 940px;
	/*z-index: 1;*/
	height: 30px;
	width: 100px;
}


#india {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 230px;
	left: 870px;
	/*z-index: 1;*/
	height: 50px;
	width: 40px;
}


#saudi {
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 230px;
	left: 772px;
	/*z-index: 1;*/
	height: 25px;
	width: 28px;
}