@font-face {
    font-family: OldNewspaperTypes;
    src: local(OldNewspaperTypes), url('fonts/OldNewspaperTypes.ttf') format('opentype');
}

body {
	font-family: OldNewspaperTypes;
	background-color: #575757;
}

#wrapper{
	position: relative;
	width: 1024px;
	height: 800px;
	background-image: url('../images/old_map.png');
	margin: 0 auto;
}

#header {
	position: absolute;
	margin-top: 0;
}

#mapBox {
	position: relative;
	float: right;
	margin-top: 95px;
	margin-left: 24px;
	width: 1000px;
	height: 460px;
}