@font-face {
    font-family: OldNewspaperTypes;
    src: local(OldNewspaperTypes), url('fonts/OldNewspaperTypes.ttf') format('opentype');
}

body {
	font-family: OldNewspaperTypes;
	background-color: #575757;
}

#wrapper{
	position: relative;
	width: 1024px;
	height: 1260px;
	background-image: url('../images/old_map.png');
	margin: 0 auto;
}

#header {
	position: absolute;
	margin-top: 0;
}

#textBox {
	position: relative;
	margin-top: 95px;
	width: 250px;
	height: 460px;
	float: left;
}

#mapBox {
	position: relative;
	float: right;
	margin-top: 95px;
	width: 750px;
	height: 460px;
}

#desc {
	width: 1000px;
	height: 500px;
	margin-bottom: 0px;
	margin-left: 12px;
}

div.text {
	text-align: center;
}

div.divider {
	width: 250px;
	height: 10px;
	margin-top: -10px;
}