/*--------------NAVIGATION BUTTON----------------------------*/
/*--------------NAVIGATION BUTTON----------------------------*/



nav {    /*---checking to see extent*/
margin-bottom: 0%;
margin-left:1.5%;
margin-right:0%;
border-radius:10px; 
padding-left:2%; 
		list-style: none;
		position: relative;
}

/*--------------matt button----------------------------*/
	
	nav ul li ul {
		display: block;
	}

	nav ul li:hover > ul {
		display: block;
	}
	nav ul {
		background-color: #80B280; 
		background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  	
		box-shadow: 5px 5px 20px rgba(0,0,0);
		padding: 0 20px;
		
		list-style: none;
		position: relative;
		display: inline-table;
		font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
		font-size: 18px;

	}

	nav ul:after { /*??????*/
		content: ""; clear: both; display: block;
	}

	nav ul li:hover {/*bcakground color of every element of object*/
		background: #4b545f;
	}

	nav ul li a {   /*  Hello-------made the a element a block in the top bootton*/
		display: block;
		padding: 20px 40px;  
		color: #fff;
		text-decoration: none; 
		font-size: 25px;
		
	}

	nav ul li:hover a {  /*font color of button?*/
		color: #fff;
	}	

/*--------------drop down box----------------------------*/


		nav ul li ul {    /*overtook div element drop down box changes color and positions self can change top relative*/
			background: #5f6975; border-radius: 0px; padding: 0;
			position: absolute; top: 100%;
		}
	
/*--------------dropdown tabs----------------------------*/
			nav ul ul li {/*--------establise tab position and style????? ----*/
				float: none; 
				border-top: 0px solid #6b727c;
				border-bottom: 0px solid #575f6a;
				position: relative;
				background-color:#4b545f;
			}

			nav ul ul li#bike {/*--------overirdes tab color ----*/
				background: rgb(176,196,222);
			}

			nav ul ul li a {  /*--------overirdes hello css ----*/   
				padding: 15px 40px;
				color: #fff;
				font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
				font-size: 16px;
			}

			nav ul ul li a:hover {
				background: #4b545f;
			}

			nav ul ul li#bike  a:hover{
				background: rgb(176,196,222);
			}

			nav ul ul li#purple  a:hover{
				background: #B284C1;
			}	




nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}














