/* Stylesheet by Meiliu, Jamp, Atlas, 2019 */

h3 {
	font-size:15px;
    margin: 15px;
	color: #FFFFFF;
}

h4 {
	font-size: 13px;
    margin-top: 0;
    margin-bottom: 10px;
}

label {
	font-size: 13px;
    color: #FFFFFF;
}

.axisWhite line{
    stroke: white;
}

.axisWhite path{
    stroke: white;
}

.axisWhite text{
    fill: white;
}

.rangeValues {
    color: #FFFFFF;
}

.legend-control-container {
    color: #FFFFFF;
    width: 130px;
    background-color: rgba(0,0,0,0.6);

    padding: 10px;
    text-align: left;
	border-radius: 10px;
}

.navbar-brand{
    margin:0;
    display: inline-block;
    color: white;
    text-decoration: none;	
}

.navbar-brand:hover {
    color: #70b9d8;
}

.navbar-text{
    color: white;
    font-size: 20px;
    padding: 7px;
    font-family: verdana;
    background-color: #133562;
    text-align:center;
	border-radius: 10px;
}

#queryPanel {
    margin:0px;
    height: 600px;
    width: 18%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    font-family: verdana;
    text-align:left;
    line-height: 10px;
    background-color: rgba(0,0,0,0.9);
	border-radius: 10px;
}

.radios > span
{
    white-space: nowrap;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
    padding-top: 15px;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 5px;
    font-size: 16px;
}
input[type=text] {
    background-color: #fff;
    width: 250px;
}
input[type=text]:enabled {
    background: #fff;
}

input[type=text]:disabled {
    background-color: #BEBEBE;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    font-size: 12px;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    width: 260px;
}
.autocomplete-items div {
    padding: 5px;
    line-height: 1.2;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/*.container span {
margin: 1px;
}*/

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.container input[disabled] ~ .checkmark {
    background-color: #696969;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


section.range-slider {
    position: relative;
    width: 250px;
    height: 25px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0px;
    width: 250px;
    outline: none;
    height: 18px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    background-color: transparent;
}
section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}
section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
section.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
}

.from{
  color: white;
}

.to{
  color: white;
}

.btn {
    border: none;
    background-color: #eeeeee;
    padding: 7px 14px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
	border-radius: 5px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


/* Blue */
.apply {
	font-size:14px;
	width:123px;
	background: #2196F3;
    color: white;
}

.apply:hover {
    background: #FFFFFF;
    color: #2196F3;
}

/* Red */
.clear {
	font-size:14px;
	width:123px;
	background: #f44336;
    color: white;
}

.clear:hover {
    background: #FFFFFF;
    color: #f44336;
}

#img {
    margin: 0;
    position: relative;
    height: 640px;
    width: 57%;
    display: inline-block;
}

#mapid {
    margin: 0;
    position: relative;
    height: 640px;
    width: 55%;
    display: inline-block;
    z-index: 10;
	border-radius: 10px;
}

#infoPanelFrame{
	background-color: rgba(0,0,0,0.9);
	display: inline-block;
	border-radius: 0px;
	width: 22.25%;
	padding:20px;
	padding-right:0px;
	vertical-align: top;
	border-radius: 10px;
}
#infoPanel {
    position: relative;
    height: 600px;
    vertical-align: top;
    font-family: verdana;
    text-align:left;
    line-height: 1.2;
    word-wrap:break-word;
    overflow-y: scroll;

}

.tooltip {
    z-index: 99 !important;
    position: absolute;
    text-align: left;
    width: 200px;
    height: 60px;
    padding: 8px;
    margin: 3px;
    font: 8px sans-serif;
    background: #fff;
    pointer-events: none;
}

.tooltipLineGraph {
    z-index: 99 !important;
    position: absolute;
    text-align: left;
    width: 200px;
    height: 45px;
    padding: 8px;
    margin: 3px;
    font: 8px sans-serif;
    background: #fff;
    pointer-events: none;
}

#scatterplot-div
{
	background: #303030;
	margin-bottom: 15px;
	margin-right:20px;
	border-radius: 10px;
}

#lineGraph-div
{
	background: #303030;
	margin-bottom: 15px;
	margin-right: 20px;
	border-radius: 10px;
}

.alert{
	font-size: 13px;
	padding: 0em;
	text-align: center;
	white-space: nowrap;
	width: auto;
	word-wrap: normal;
}

.ui-dialog-titlebar-close:hover {
  background: url("http://code.jquery.com/ui/1.10.3/themes/smoothness/images/ui-icons_222222_256x240.png") repeat scroll -94px -128px rgba(0, 0, 0, 0);
}

.ui-dialog-titlebar-close{
  background: url("http://code.jquery.com/ui/1.10.3/themes/smoothness/images/ui-icons_888888_256x240.png") repeat scroll -94px -128px rgba(0, 0, 0, 0);
}

.ui-dialog-content
{
	margin-top:10px;
	margin-bottom: 30px;
}


.ui-button
{
	padding:.3em 1.5em;
}