body {
	color: #8ABFB5;
	font-family: "Berlin Sans FB", Arial, Helvetica, sans-serif;
	background-color: #000;
	background-attachment: scroll;
	background-repeat: repeat;
	background-image: url('sidedesign.jpg');
}

#splash {
	position: absolute;
	padding: 5px 25px 5px 25px;
	display: none;
	top: 120px; 
	left: 80px;
	width: 85%;
	height: 85%;
	text-align: center;
	color: #000;
	background: #CCC;
	opacity: .95;
}

#posttitle {
	font-size: 1.5em;
	font-style: italic;
	//position: relative;
	margin: 0 auto;
	width: 737px;
}
#subtitle {
	margin: 0 auto;
	width: 350px;
}
#content {
	background-color: none;
	padding: 30px;
}

#tables{
	border: none;
}

#image-map {
	width: 1060px;
	height: 670px;
	background-color: none;
	padding: 30px;
	border-color: #7a959e;
	border-width: 50px;
}

#wrapper {
	width: 1060px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background-color: none;
	height: auto;
}

footer{
	width: 1060px;
	height: 34px;
	margin: 10px auto 0 auto;
	color: #000;
	background-color: #FFF;
	text-align: center;
	font-size: 1.3em;
	font-family: "Mistral", Arial, Helvetica, sans-serif;
	opacity: 1;
}

header{
	height: 60px;
	text-align: right;
	font-family: "Mistral", Arial, Helvetica, sans-serif;
	width: 1060px;
}

p{
	margin-bottom: 20px;
	line-height: 1.5em;
	text-indent: 40px;
}

h2 {
	font-size: 2em;
	margin-bottom: 20px;
}

h3 {
	margin-bottom: 10px;
}

ul{
	margin-left: 40px;
}

li{
	margin-bottom: 20px;
	word-spacing: 20px;
}

hr{
	margin: 20px 0 20px 0;
}
header h1{
	font-weight: normal;
	color: #8ABFB5;
	font-size: 4em;
	line-height: 30px;
}
nav{
	height: 20px;
	text-align: right;
	font-family: "Berlin Sans FB", Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 10px 0 0 0;
	background-color: #724735;
}

nav ul {
	list-style-type: none;
	padding-top: 5px;
	margin-left: 0;
	margin-top: 15px;
}

nav ul li{
	display: inline;
}

nav ul li a{
	text-decoration: none;
	color: #FFF;
}

nav ul li a:hover{
	color: #00f;
}

img
{
	border-color: #fff;
	border-width: 0px;
	float: left;
	padding: 15px;
}

table
{
	height: 100%;
	width: 1020px;
	text-align: center;
}

#data
{
	border-style: ridge;
	border-width: 3px;
	border-color: white;
	background-color: black;
}


