/* =============================================================================
   HEADER
   ========================================================================== */
   
#masthead {
	margin-bottom: $gutter;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	@include breakpoint('bp3') {
		overflow: hidden;
	}
	
	.site-title {
		text-align: center;
		z-index: 100;
		padding-top: 2em;
		@include breakpoint('bp3') {
			padding-top: 3em;
		}
		margin-bottom: 1.5em;
		@include text-shadow(rgba(#333, 0.4) 1px 1px 0);
		font-family: $headingsFontFamily;
		a {
			text-decoration: none;
			color: #fff;
			@include font-size(4.0);
		}
	}
	
	.site-logo {
		display: block;
		margin: 0 auto;
		max-width: 250px;
		padding-top: 2em;
		margin-bottom: 1.5em;
		@include breakpoint('bp3') {
			padding-top: 4em;
		}
	}
	
	.tagline {
		text-align: center;
		color: #fff;
		@include font-size(2.0);
		font-weight: normal;
		margin-bottom: 3em;
		@include text-shadow(rgba(#333, 0.4) 1px 1px 0);
		font-family: $headingsFontFamily;
		z-index: 100;
	}
	
	.custom-header {
		position: absolute;
		top: 0px;
		left: 0px;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 100%;
		overflow: hidden;
		z-index: -1;
		img {
			width: 100%;
			overflow: hidden;
		}
	}
}