html, body, #map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 'auto';
}

body {
    padding: 0;
    margin: 0;
}

.click {
  color: black;
  font-size: 16px;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
    z-index: 600;
}

#welcomeWrapper {
  text-align: center;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-100%);
  width: 45%;
  z-index: 700;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  background-color: rgba(239, 239, 239, 1);
  box-shadow: 0 1px 5px black;
  padding: 10px;
  border-radius: 25px;
}

.footer {
  position: fixed;
  height: 50px;
  width: 475px;
  font-size: 9px;
  color: black;
  z-index: 700;
  left: 20px;
  bottom: 0px;
  background-color: rgba(239, 239, 239, 0.8);
  border-radius: 5px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}
    
#showcase{
    margin: 0 20px;
    text-align: center;
}
    
#range {
    height: 300px;
    margin: 0 auto 30px;
    position: left;
    z-index: 500;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    position: fixed;
    top: 30%;
    right: 5%;
}

#value-span, #value-input {
    width: 50%;
    float: left;
    display: block;
    text-align: center;
    margin: 0;
}
