
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: black;
	color:white;
	font-size:16px;
	width:220px;
	text-align:center;
	vertical-align:center;
	border-left:2px solid red;
	border-right:2px solid red;
	border-top:2px solid red;
	border-bottom:2px solid red;
}

html {
	width: 100%;
	height: 97%
}


body {
	width: 99%;
	height: 100%;
	background:#f4f0e7;
}

#map {
	height: 100%;
	width: 71%;
	float: right;
	border: -2px solid #f4f0e7;
    	box-shadow: -1px -1px 6px maroon;
	border-radius:1px;
	z-index: 20;
}

#rating_score {
	position: absolute;
	margin-top: -5%;
	margin-left: 6px;
	text-align: center;
	font-size: 16px;
	background-color: #4CAF50;
	display: inline-block;
	padding: 15px 15px;
	line-height: 18px
}

#rating_count {
	position: absolute;
	margin-top: 10%;
	margin-left: 6px;
	text-align: center;
	font-size: 16px;
	background-color: #4CAF50;
	display: inline-block;
	padding: 15px 15px;
	line-height: 18px
}

#bus_routes {
	position: absolute;
	margin-top: 25%;
	margin-left: 6px;
	text-align: center;
	font-size: 16px;
	background-color: #aaaaaa;
	display: inline-block;
	padding: 15px 8px;
	line-height: 18px
}

.back_to_menu {
	text-align: center;
	font-size:16px;
	background-color: #cc3333;
	display: inline-block;
	padding: 15px 11px;
}

#menu {
	position: absolute;
	width: 27%;
	height: 97%;
	border-left:5px solid #f4f0e7;
	border-right:5px solid #f4f0e7;
	display: inline-block;
	vertical-align:top;
	text-align:justify;
    	box-shadow: -1px -1px 6px maroon;
	border-radius:0px;
	z-index: 20;
	background:#f4f0e7;
}
h4{
	text-align:center;
	font-weight:bold;
	font-size:18px;
	color:black;
}
p1{
	font-size:14px;
	font-family:comic sans MS;
	color:black;
	font-family:calibri;
	
}
p2{
	font-size:13px;
	font-weight:bold;
	color:blue;
	font-family:calibri;
}
/*.leaflet-interactive{
	fill:#108349;
	stroke-width:1px;
	stroke:blue;
}*/
p5{
	font-size:12px;
	font-family:calibri;
	font-style:italic;
}


.leaflet-panel-layers-list{
	border-left:5px solid #f4f0e7;
	border-right:5px solid #f4f0e7;
	border-top:5px solid #f4f0e7;
	border-bottom:5px solid #f4f0e7;
    	box-shadow: 2px 2px 6px maroon;
	border-radius:0px;
	z-index: 20;
	background:#bfb4a0;
	width:180px;
}
