/* Place the navbar at the top of the page, and make it stick */
.navbar1 {
  background-color: #006d2c;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  font-size: 0;
}
.header{
    background:#006d2c;
    width:100%;
    color: white;
    text-align: left;
    font-size: 35px;
    padding: 0px 20px 0px 20px;
  }
button p{
    float: right;
    margin: 0;
    padding-left: 10px;
}
.Off{
    font-weight: 800;
    color: #006d2c
}
.On{
    font-weight: 800;
    color: red
}
#compareMaps{
    font-size: 1.25em;
    font-weight: 600;
    color: #006d2c
}
.parkLabel{
    font-size: 2.3em;
    font-weight: 600;
    font-family: "Arimo" !important;
}
.swipeMe{
    position: absolute;
    top: 50%;
    width: 100%;
}
.navButton{
    height:70px;
  }
.bs-tooltip-bottom .arrow::before{
    border-bottom-color: #006d2c !important;
}
.tooltip-inner {
    max-width: 200px;
    padding: .25rem .5rem;
    color: #fff;
    text-align: center;
    background-color: #006d2c !important;
    border-radius: .25rem;
    font-family: 'Arimo' !important;
    animation: glow 1s infinite alternate !important;
    z-index: 10 !important;
}
@keyframes glow {
    from {
      box-shadow: 0 0 10px -10px #e7efea;
    }
    to {
      box-shadow: 0 0 10px 10px #e7efea;
    }
  }
.leaflet-popup-content{
    font-family: 'Arimo';
    font-size: 1.1em !important;
    font-weight: 600 !important;
}
.leaflet-tooltip {
    position: absolute;
    padding: 2px !important;
    background-color: rgba(0,0,0,0) !important;
    border: 2px rgba(0,0,0,0) !important;
    border-radius: 0px !important;
    color: #006d2c !important;
    text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -1px white !important;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: 0 0x 0px rgba(0,0,0,0) !important;
    font-family: 'Arimo' !important;
}

.leaflet-sbs-divider{
    background-color: #753a10 !important;
}
.leaflet-sbs-range::-webkit-slider-thumb{
    height: 75px !important;
    width: 25px !important;
    border-radius: 30% !important;
    background-color: #753a10 !important;
    border: solid #753a10 3px !important;
    caret-color:#D2B48C !important;
}
#baseMap{
    font-size: 1.3em;
    margin-left: 5px;
    font-weight: 600;
    color: #006d2c
}

@media(max-width:50em){ /* Breakpoint only for mobile */
    .parkLabel{
        font-size: 2em;
    }
    .navbar1 {
        color: #006d2c;
        overflow: hidden;
        height: 60px;
        width: 100%;
        bottom: 0;
        position: fixed;
        z-index: 5;
      }
    button p{
        visibility: hidden;
        display:none;
        /* padding-left: 30px; */
    }
    .navbar1 button {
        background-color: #006d2c;
        display: block;
        color: #f2f2f2;
        border: solid #f2f2f2 1px;
        width: 20%;
        text-align: center;
        float: left;
        margin-top: -5px;
      }
    .navbar1 button.active {
        background-color: #00441b;
        color: white;
      }
      .active, button:hover {
        background-color: #e7efea ;
        color: #006d2c;
        border: solid #006d2c 2px;
        box-shadow: 0 8px 6px -6px #006d2c;
      }
      .propM.active{
        border: solid #e7efea  2px;
        padding: 2px;
        background-color: #006d2c ;
      }
      .navbar1 span{
        display: none;
      }
        /* UW logo */
      .navbar1 a{
        display:none;
      }
      .proposal:hover {
        background-color: #e7efea ;
        color: #006d2c;
        border: none
      }
      .proposalM:hover {
        background-color: #e7efea ;
        color: #006d2c;
        border: none
      }

  }

/* Style the links inside the navigation bar */
.navbar1 button {
  background-color: #006d2c;
  border-style: none;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 15px 20px 15px;
  text-decoration: none;
  font-size: 20px;
  
}

.navbar1 a{
  float: right;
  padding: 5px 20px 0px 0px;
}
/* Change the color of links on hover */
.navbar1 button:hover {
  background-color: #00441b;
}
/* Add a color to the active/current link */
.navbar1 button.active {
  background-color: #00441b;
  color: white;
}
html, body, #map {
    padding-bottom: 35px;
    height: 100%;
    width: 100%;
    z-index: 0;
}
#overlay-img {
    z-index: 2;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/river.png');
    background-size: cover;
    background-position: center;
    opacity: 0.80;
    animation: anim .75s ;
    display: none;
  }
  
  @-webkit-keyframes anim {
      from {opacity: 0;}
      to {opacity: .80;}
    }
  
  @keyframes anim {
      from {opacity: 0;}
      to {opacity: .80;}
    }
  
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
  }
  
  #overlay-div {
    position: auto;
    width: 50%;
    height: 75%;
    background: #E9ECEF;
    transform: translate(50%,20%);
    -ms-transform: translate(50%,50%);
    overflow-y: auto;
    opacity: 1;
    font-family: "Arimo";
    z-index: 999999;
  }
  
  #overlay-div h2 {
	  text-align: center;
  }
  
  #navbar2 {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0px;
      font-size: 0px;
      background-color: #006d2c;
      padding-left: 3px;
  }
  
  #navbar2 button {
      margin-top: 2px;
      margin-bottom: 2px;
      text-decoration: none;
      border-style: none;
      margin-left: 0px;
      font-size: 18px;
  }
  
  #navbar2 button:hover {
    /* background-color: white; */
      background-color: #00441b;
    /* color: black; */
      color: white;
  }
  
  #tambopata-button {
      background-color: #00441b;
      color: white;
  }
  
  #assign-button,#glossary-button,#events-button {
      background-color: #006d2c;
      color: white;
  }
  
  #overlay-buttons-close {
      float: right;
      padding-left: 5px;
      background-color: #006d2c;
  }
  
  #assign-overlay-text {
    display: none;
    position: auto;
    top: 50%;
    left: 10%;
    font-size: 16px;
    color: black;
    padding: 10px;
  }
  
  #tambopata-overlay-text {
    top: 50%;
    left: 10%;
    font-size: 16px;
    color: black;
    padding: 10px;
  }
  
  #locator {
      height: 5%;
      width: 85%;
      float: left;
      margin-left: 7.5%
  }
  
  #glossary-overlay-text {
    display: none;
    position: auto;
    top: 50%;
    left: 10%;
    font-size: 16px;
    color: black;
    padding: 10px;
  }
  
  #glossTerm {
      font-size: 18px;
  }
  
  #events-overlay-text {
    display: none;
    position: auto;
    top: 50%;
    left: 10%;
    font-size: 16px;
    color: black;
    padding: 10px;
  }


#collapseLegend{
    position: absolute;
    background-color: #e7efea;
    height: 100px;
    width: auto;
    bottom: 0px;
}
.content {
    position: relative;
  }
.baseMap{
    margin-left: 10%;
    margin-top: 2%;
}
.roads{
    margin-left: 10%;
    margin-bottom: 8%;
}
.compare{
    margin-left: 10%;
    margin-bottom: 8%;
}
.compareTxt{
    font-size: 1.25em;
    margin-left: 5px;
    font-weight: 800;
    color: #006d2c;
    font-family: 'Arimo';
}

.range-slider{
    margin-top: 15px;
    -webkit-appearance: none;
    width: 60%;
    height: 15px;
    background-color: #e7efea;
    border: solid #006d2c 1px;
    border-radius: 25px;
    outline: none;
}
.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #006d2c;
    border: solid #e7efea 1px;
    cursor: pointer;
}
.opacityTitle{
    margin-top: -10px;
    margin-bottom: -10px;
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    color: #006d2c;
    font-family: 'Arimo';
}
.opacityTxt{
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: #006d2c;
    font-family: 'Arimo';
}
.proposal-container{
    width: 80vw;
    top: -15mm;
    left: 15%;
    
}
.mProposal-Container{
    min-width: 300px;
    text-align: center;
    font-size: 1.2em;
    left: -10px;
    top: 50px;
    margin-bottom: 50px;
    padding: 0px;
    font-weight: 700;
}
.proposalM{
    width: 20%;
    height: 55px;
    float: left;
    text-align: center;
    border: none;
    color: #006d2c;
    background-color: #e7efea;
    overflow: hidden;
    font-size: 1.5em;
    font-weight: 800;
}
.proposalM-Legend{
    width: 20%;
    height: 55px;
    float: left;
    text-align: center;
    border: none;
    color: #006d2c;
    background-color: #e7efea;;
    overflow: hidden;
    font-size: 1.5em;
    font-weight: 800;
}
.proposal{
    width: auto;
    height: 35px;
    float: left;
    text-align: center;
    border-style: none;
    border: solid #006d2c 2px;
    color: #e7efea;
    background-color: #006d2c;
    overflow: hidden;
    font-size: 1.5em;
    font-weight: 800;
    
}
.mLeftView, .mRightView{
    padding: 10px;
    background-color: #e7efea;
    color: #006d2c;
}
.mLeftView{
    border-right: 3px solid #006d2c;
}
.leftView{
    width: 200px;
    height: 35px;
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
    border-style: none;
    float: left;
    border: solid #e7efea 2px;
    color: #00441b;
    background-color: #e7efea;
    overflow: hidden;
    font-size: 1.5em;
    font-weight: 800;
}
.rightView{
    width: 200px;
    height: 35px;
    margin-top: 10px;
    margin-right: 0px;
    float: right;
    text-align: center;
    border-style: none;
    border: solid #e7efea 2px;
    color: #00441b;
    background-color: #e7efea;
    overflow: hidden;
    font-size: 1.5em;
    font-weight: 800;
}
.fa-check-circle{
    margin-left: 10px;
}
.active, .proposal:hover {
    background-color: #00441b ;
    color: #e7efea;
    border: solid #00441b 2px;
  }
.row{
    background-color: #e7efea;
}
.legendFrame{
    padding: 10px 10px 10px 10px;
    width: 300px;
    background-color: #e7efea;
    opacity: 0.9;
    padding: 5px;
    font-family: 'Arimo';
}
.mLegend{
    height: 270px;
    width: 100%;
    max-width: 350px;
    right: 10px;
    bottom: -10px;
    background-color: #e7efea;
    overflow:auto;
    overflow-y: scroll

}
.arrow::before{
    border-top-color: #006d2c !important;
}
.leaflet-control-layers,.leaflet-control-layers-toggle{
    background-color: #e7efea !important;
    /* top: 85px; */
    color: #006d2c;
    border: 0px !important;
}
.leaflet-control-layers-expanded{
    color: #006d2c  !important;
    font-weight: 700;
}
#accordion{
    overflow-y: scroll;
    max-width: 350px;
    overflow:auto;
}
.mLegendTxt{
    transform: translate(5%, -125%);
    font-size: 1em;
    margin-left: 10px;
    color: #006d2c;
    font-weight: 800;

}
.card-body {
    padding: 0.7rem !important;
    overflow:auto;
    overflow-y: scroll;
    font-family: 'Arimo';
    font-size: 1.15em
    
}
.card-header{
    background-color: #e7efea!important;
    height: 25px;
    border: 0px !important;
}
.mLegendItem{
    height: 15px;
    width: 25px;
    margin-left: 1px;
    border: 1px solid black;
    transform: translate(-50%,-50%);
}
.legendtxt{
    position: absolute;
    display: inline-block;
    margin-left: 55px;
    margin-top: 10px;
    font-size: 1.2em;
    color: #006d2c;
    font-weight: 600
}
.legend{
    height: 2vh;
    width: 2vw;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid black;
}
.legendHeader{
    margin-bottom: 2px;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}
.mSlider{
    transform: rotate(-90deg);
    background-color: #e7efea;
    border-radius: 30px;
    z-index: 1;
    bottom: 100px;
    right: -110px;
    width: 250px;
    padding: 5px;
}
.opacityTxtM{
    transform: rotate(90deg);
    position: relative;
    display: inline-block;
    top: 50%;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: #006d2c;
}
.range-sliderM{
    -webkit-appearance: none;
    width: 75%;
    height: 15px;
    background-color: #e7efea;
    border: solid #006d2c 1px;
    border-radius: 25px;
    outline: none;
}
.range-sliderM::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #006d2c;
    border: solid #e7efea 1px;
    cursor: pointer;
}
#bufferZone{
    background-color: #4d412b;
}
#communityReserve{
    background-color: #a87007;
}
#strictProtection{
    background-color: #004529;
}
#wildlands{
    background-color: #238443;
}
#nativeCommunities{
    background-color: #78c679;
}
#Tourism{
    background-color: #d9f0a3;
}
#forestUse{
    background-color: #dadac0;
}
#directUse{
    background-color: #d0d1e6
}
#Restoration{
    background-color: #fc8d59;
}


#nationalPark{
background-color: none;
border: 2px solid #31a354;
}