@charset "UTF-8";

* {
    margin: 0;
    outline: medium none;
    padding: 0;
}

#slidebody {  
	height: 100%; 
	width: 100%; 
	margin: 0; 
	padding: 0; 
	border: 0;  
	background-repeat: none; 
	background-color: #000; 
}

#LaunchBody{
	background-image: url(../img/Reg_Launch_Background.png);
	background-image-width: 1000px;
	background-image-height: 667px;
	background-image-min-width: 100%;
	background-image-min-height: 100%;
	background-image-max-height: 100%;
	background-image-max-width: 100%;
}

#controls-outer { 
	position: fixed; 
	bottom: 5px; 
	width: 100%; 
	margin: 5; 
	padding: 0; 
	height: 40px; 
	z-index: 5; 
}

#controls-inner { 
	border:3px solid black; 
	border-radius: 15px; 
	-moz-border-radius: 15px; 
	position: relative; 
	background-color: #a5a5a5; 
	width: 200px; height: 40px; 
	margin-left: auto; 
	margin-right: auto; 
	font-family: "Verdana", sans-serif; font-weight: 900; 
	font-size: 2.0em; 
}

#back-button { 
	width: 46px; 
	margin: 0 0 0 4px; 
	float: left; 
	cursor: pointer; 
}

#current-slide { 
	width: 100px; 
	float: left; 
	text-align: center; 
}

#forward-button { 
	width: 46px; 
	margin: 0 4px 0 0; 
	text-align: right; 
	float: right; 
	cursor: pointer; 
}


.slide { 
	text-align: center; 
	height: 600px; 
	width: 900px; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 0px; 
	display: none; 
}


.slide-image { 
	border: 0; 
	margin: 0; 
}

.backfill { 
	background-color: #fbeed1; 
	text-align: left; 
}

#LaunchButton{
	font-family: "Verdana", sans-serif; font-weight: 900;
	text-decoration: none;
	color: black;
	font-size: 7;

}

a {
	color: white;
	text-decoration: none;
}

#wrapper{
	width: 540px;
	height: 320px;
	background-color: black;
	border: solid;
	border-color: #EBEBEB;
	display: block;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 150px;

}

#textdiv{
	margin-bottom: 40px;
	color: #EBEBEB;
	clear: both;
}

#home{
	margin-left: 530px;
	float: right;
	clear: both;

}

