body { 
	margin:0; 
	padding:0; 
	background-color: rgb(25,26,26);
	width:100%;
}

.hurricanes{
	height: 50%;
  	width: 50%;
  	display: block;
  	margin-top:40px; 
  	margin-bottom: 0px;
  	margin-left: auto;
  	margin-right: auto;
}

  
p1{
	color:rgb(230,230,230);
	font-family: Georgia;
	font-size: 26px;
	line-height: 2;
	font-weight: bold;
}

p2{
	color:rgb(230,230,230);
	font-family: verdana;
	font-size:18px;
	line-height: 1.5;
	font-weight: bold;
	text-align: center;
}

p3{
	color:rgb(230,230,230);
	font-family: verdana;
	font-size:20px;
	line-height: 1.5;
}

.container{
	width:87%;
	padding:100px;
}

.map_container{
	display:block;
}

.map { 	
	width:100%;
	height:600px;
}

#map1{
	position:relative;
}

#before {
	width:87%;
	position:absolute;
}

#after { 
	width:87%;
	position:absolute;
}
